.App {
  font-family: 'Courier New', Courier, monospace;
  text-align: center;
  width: 20rem;
  height: auto;
  padding: 2rem;
  background-color: #2a2c2c;
  border-radius: 10px;
  margin: 10rem auto;
}
.headerText{
  font-size: 2rem;
  color: #fff;
}
.paragraph{
  margin: 2rem 0;
  color: #fff;
  font-size: 1.2rem;
}
.button {
  background-color: #259409;
  padding: 0.5rem 1rem;
  border-radius: 10px;
  border: 2px solid #259409;
  font-size: 15px;
  font-weight: 600;
  font-family: 'Courier New', Courier, monospace;
}
